{
    "MAIN_URL":"https://telnyx.com/",
    "LOG_IN_URL":"https://portal.telnyx.com/#/login/sign-in",
    "BLOG_URL":"https://telnyx.com/resources",
    "SIGN_UP_URL":"https://telnyx.com/sign-up",
    "SUPPORT_URL":"https://support.telnyx.com/en/"
}